@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Razer;
  src: url("Fonts/RazerF5-Reg.otf");
}

html,
body,
#root {
  @apply h-full;
}

.nav-item {
  @apply cursor-pointer hover:text-primary-100 transition-colors duration-300;
}
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.razer-edge {
  background-image: url("Backgrounds/razer-edge-b-desktop.jpg");
  background-position: center 75%;
}
.razer-blade {
  background-image: url("Backgrounds/razer-blade-16-18-homepage-desktop.jpg");
}
.razer-hammerhead {
  background-image: url("Backgrounds/razer-hammerhead-hyperspeed-xbox-homepage-desktop1x.jpg");
}
.new-year-special {
  background-image: url("Backgrounds/new-year-new-gear-950x580-desktop.jpg");
}

@media screen and (max-width: 50em) {
  .razer-edge {
    background-image: url("Backgrounds/razer-edge-homepage-mobile2x.jpg");
  }
  .razer-blade {
    background-image: url("Backgrounds/razer-blade-16-18-homepage-mobile.jpg");
  }
  .razer-hammerhead {
    background-image: url("Backgrounds/razer-hammerhead-hyperspeed-xbox-homepage-mobile2x.jpg");
  }
}
